@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

  /* SECTION CREDIT CARDS */

  .section-credit{
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f7fa;
    padding: 24px 40px 24px 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .credit-cards-block{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .credit-cards-line{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .cards-credit-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .credit-heading{
    margin-top: 0;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: #343C6A;
    margin: 0px;
  }
  
  .current-credit-card{
    position: relative;
    width: 350px;
    height: 225px;
    background: linear-gradient(107.38deg, #4C49ED 2.61%, #0A06F4 101.2%);
    border-radius: 25px;
    background-image: url(../../assets/img/svg/card-0.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .second-credit-card{
    position: relative;
    width: 350px;
    height: 225px;
    background: linear-gradient(107.38deg, #4C49ED 2.61%, #0A06F4 101.2%);
    border-radius: 25px;
    background-image: url(../../assets/img/svg/card-1.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .another-credit-card{
    position: relative;
    width: 350px;
    height: 225px;
    background-color: #fff;
    border-radius: 25px;
    background-image: url(../../assets/img/svg/card-2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  
  .credit-expense-statistics-heading{
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: #343C6A;
    margin: 0px;
    margin-bottom: 16px;
  }

  .credit-expense-statistics-block{
    margin-bottom: 18px;
  }
  
  .credit-expense-statistics-card{
    width: 350px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    background-image: url(../../assets/img/svg/card-expense.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .credit-card-list-heading{
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: #343C6A;
    margin: 0px;
    margin-bottom: 16px;
  }
  
  .credit-card-list{
    width: 742px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
  }
  
  .credit-card-list-item{
    width: 100%;
    height: 99px;
    background-color: #FFF; 
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .credit-card-list-item:nth-child(1){background-image: url(../../assets/img/svg/card-list-1.svg);}
  .credit-card-list-item:nth-child(2){background-image: url(../../assets/img/svg/card-list-2.svg);}
  .credit-card-list-item:nth-child(3){background-image: url(../../assets/img/svg/card-list-3.svg);}
  
  .credit-add-new-heading{
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: #343C6A;
    margin: 0px;
    margin-bottom: 16px;
  }
  
  .credit-add-new-card{
    box-sizing: border-box;
    width: 700px;
    height: 381px;
    background-color: #FFF; 
    border-radius: 20px;
    padding: 19px 20px;
  }
  
  .add-new-card-description{
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #718EBF;
    margin-bottom: 20px;
  }
  
  .credit-card-setting-heading{
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #343C6A;
    margin: 0px;
    margin-bottom: 16px;
  }
  
  .credit-card-setting-card{
    box-sizing: border-box;
    width: 390px;
    height: 381px;
    background-color: #FFF; 
    border-radius: 20px;
    padding: 20px 25px;
    list-style: none;
    display: grid;
    grid-template: 5 / 1;
    gap: 14px;
  }

  .credit-card-setting-card-item{
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .setting-card-item-icon{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 13px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .card-item-icon-1{background-image: url(../../assets/img/svg/block-card.svg);}
  .card-item-icon-2{background-image: url(../../assets/img/svg/pic.svg);}
  .card-item-icon-3{background-image: url(../../assets/img/svg/google.svg);}
  .card-item-icon-4{background-image: url(../../assets/img/apple.png);}
  .card-item-icon-5{background-image: url(../../assets/img/apple.png);}

  .setting-card-item-heading{
    margin: 0px;
    font-family: "Inter";
    font-size: 17px;
    font-weight: 500;
    line-height: 14.52px;
    text-align: left;
    color: rgba(35, 35, 35, 1);
    margin-bottom: 7px;
  }

  .setting-card-item-description{
    margin: 0px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 13.31px;
    text-align: left;
    color: rgba(113, 142, 191, 1);
  }
  
  .add-new-card-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .add-new-card-input-block{
    width: 47%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .add-new-card-form-input{
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border: 1px solid #DFEAF2;
    border-radius: 15px;
    padding: 13px 15px;
    color: #718EBF;
    margin-bottom: 15px;
  }
  
  .add-new-card-form-input::-webkit-input-placeholder { color: #8BA3CB; font-size: 17px;}

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
  }
  
  .add-new-card-form-input:active{
    outline: 1px solid rgba(155, 155, 255, 0.6);
  }
  
  .add-new-card-form-input:focus{
    outline: 1px solid rgba(155, 155, 255, 0.6);
  }
  
  .add-new-card-form-input-label{
    font-family: "Inter";
    font-size: 17px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    color: #232323;
    margin-bottom: 10px;
  }
  
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  .add-new-card-form-btn{
    box-sizing: border-box;
    margin-top: 10px;
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 500;
    line-height: 18.15px;
    text-align: left;
    color: #FFF;
    border: none;
    border-radius: 9px;
    background-color: #1814F3;
    padding: 11px 26px;
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    .section-credit{
      justify-content: center;
      padding: 24px 40px 24px 40px;
    }

    .credit-cards-block{
      width: 100%;
      margin-bottom: 19px;
    }
  }
  
  @media (max-width: 992px) {
    .current-credit-card, .another-credit-card, .second-credit-card{
      min-width: 265px;
      width: 265px;
      min-height: 170px;
      height: 170px;
    }

    .current-credit-card, .second-credit-card{
      margin-right: 20px;
    }
  }
  
  @media (max-width: 768px){
    .section-credit{
      padding: 14px 0px 14px 20px;
      justify-content: center;
    }

    .credit-expense-statistics-block{
      width: 95%;
    }

    .credit-expense-statistics-card{
      width: 100%;
      min-width: 325px;
      height: 300px;
      background-size: contain;
    }

    .credit-card-list-block{
      width: 95%;
    }

    .credit-card-list{
      width: 100%;
      height: fit-content;
    }

    .credit-card-list-item{
      width: 100%;
      min-width: 325px;
      height: 69px;
      background-size: contain;
      margin-bottom: 10px;
    }

    .credit-card-list-item:nth-child(1){background-image: url(../../assets/img/svg/CD-media-1.svg);}
    .credit-card-list-item:nth-child(2){background-image: url(../../assets/img/svg/CD-media-2.svg);}
    .credit-card-list-item:nth-child(3){background-image: url(../../assets/img/svg/CD-media-3.svg);}

    .credit-add-new-card{
      width: 95%;
      min-width: 325px;
      height: 537px;
      padding: 14px 20px;
      margin-bottom: 10px;
    }

    .add-new-card-description{
      font-size: 12px;
    }

    .new-br{
      display: none;
    }

    .add-new-card-form{
      flex-direction: column;
    }

    .add-new-card-input-block{
      width: 100%;
    }

    .add-new-card-form-input-label{
      font-size: 13px;
      margin-bottom: 9px;
    }

    .add-new-card-form-input{
      font-size: 12px;
      height: 40px;
    }

    .add-new-card-form-input::-webkit-input-placeholder { font-size: 12px;}

    .add-new-card-form-btn{
      margin-top: 2px;
      font-size: 15px;
      text-align: center;
    }

    .credit-card-setting-card{
      width: 95%;
      min-width: 325px;
      height: 325px;
    }

    .setting-card-item-icon{
      width: 45px;
      height: 45px;
    }

    .setting-card-item-heading{
      font-size: 14px;
    }

    .setting-card-item-description{
      font-size: 12px;
    }

    .credit-card-setting-heading, .credit-add-new-heading, .credit-card-list-heading, .credit-expense-statistics-heading, .credit-heading, .credit-heading{
      font-size: 16px;
    }
  }

  @media (max-width: 480px){
    .section-credit{
      justify-content: flex-start;
      overflow: hidden;
    }

    .credit-cards-block{
      flex-wrap: nowrap;
      flex-direction: column;
      width: 100%;
      overflow: auto;
      margin-bottom: 19px;
      margin-right: 10px;
    }

    .credit-cards-line{
      width: 550px;
    }
  }